src/main/mule/jenkinstwo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d452fd88-e914-43d5-9d10-9875fbd5b16b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinstwoFlow" doc:id="ff7a9b15-43f8-43dc-819a-2b159bd1d92e" >
		<http:listener doc:name="Listener" doc:id="c6c73c50-55f8-45ee-9a65-273c93e2d293" config-ref="HTTP_Listener_config" path="/sanju"/>
		<logger level="INFO" doc:name="Logger" doc:id="1975b649-92d0-43b1-ae9c-ac3d18650b06" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="ec3c16ee-ecf8-4b04-abff-716ebc7a30e2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
